body {
  font-family: Arial;
  background: #eef5ff;
  padding: 20px;
  margin: 0;
}
/* LOGIN PAGE STYLING */
.login-box {
  width: 350px;
  background: white;
  padding: 25px;
  margin: 80px auto;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  color: #003f6b;
}

/* Input fields */
.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 16px;
  box-sizing: border-box;
}

.login-box input:focus {
  border-color: #0072ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 114, 255, 0.3);
}

/* Login Button */
.login-box button {
  width: 100%;
  padding: 12px;
  background: #0072ff;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background: #005ccc;
}

/* Error message */
#msg {
  margin-top: 12px;
  font-size: 15px;
  font-weight: bold;
}

.title {
  text-align: center;
  color: #003f6b;
  margin-bottom: 20px;
}

/* ADD EVENT BUTTON */
.add-btn {
  display: block;
  margin: 0 auto 20px auto;
  background: #0072ff;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
.add-btn:hover {
  background: #005ccc;
}

/* Add Event Form (HIDDEN by default) */
#addForm {
  display: none; /* HIDDEN */
}

.add-box {
  width: 400px;
  background: white;
  margin: 0 auto 25px auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.add-box h3 {
  text-align: center;
}

.add-box input,
.add-box textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.add-box button {
  width: 100%;
  padding: 12px;
  background: #0072ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

.add-box button:hover {
  background: #005ccc;
}

/* Event Card */
.event-card {
  background: white;
  width: 80%;
  margin: 15px auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 120, 255, 0.2);
}

.event-card h3 {
  color: #006bb3;
  margin-top: 0;
}

/* Buttons */
.btn {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
  color: white;
}

.update-btn {
  background: #00c851;
}
.update-btn:hover {
  background: #00993d;
}

.delete-btn {
  background: #ff4444;
}
.delete-btn:hover {
  background: #cc0000;
}
