body {
  font-family: Arial;
  background: #eef5ff;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

select {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #0072ff;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 120, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #0072ff;
  color: white;
}

tr:hover {
  background: #f0f8ff;
}
